@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Outfit, sans-serif;
    }
}

.btn-confirm {
    @apply bg-cerulean-blue text-white;
}

.btn-cancel {
    @apply bg-platinum;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
